[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ClustImpute"]
	path = ClustImpute
	url = https://github.com/o1iv3r/clustimpute
[submodule "FeatureImpCluster"]
	path = FeatureImpCluster
	url = https://github.com/o1iv3r/featureimpcluster
